.noteDetail {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  background-color: var(--light-color);
  margin: 2rem 4rem;
  transition: box-shadow 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.noteDetail:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .noteDetail {
    margin: 1rem;
    padding: 10px;
  }
}

.noteDetail h1 {
  margin-bottom: 15px;
  color: var(--dark-color);
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.noteDetail p {
  margin-bottom: 10px;
  color: var(--dark-color);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.noteDetail .buttons button {
  margin: 5px;
}

.date {
  color: var(--primary-color); /* Здесь укажите желаемый цвет */
}

.updatedDate {
  color: var(--danger-color); /* Укажите цвет для обновленной даты */
}
